* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* NAVBAR */
header {
    background: #222;
    color: white;
    padding: 15px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background: #f4f4f4;
}

.hero img {
    width: 180px;
    border-radius: 50%;
}

.hero-text span {
    color: #0077ff;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #0077ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* SECTIONS */
section {
    padding: 40px;
    text-align: center;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.card {
    background: #0077ff;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}